
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: rgb(8, 1, 27);
    font-family: "Orbitron", sans-serif;
}

#calculator {
    width: 450px;
    margin: 4em auto;
}

#display {
    height: 120px;
    background-color: rgb(44, 7, 78);
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
    height: 450px;
}

.button {
    font-size: 1.6rem;
    font-family: "Orbitron", sans-serif;
    color: white;
    background-color: rgba(92, 21, 92, 0.808);
    border: none;
}

.equals {
    grid-column: span 2;
}
